@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Abel);
@media (max-width: 768px) {
  .container {
    flex-direction: column; } }
/* Base
------------------------------------------------------------*/
html {
  font-size: 62.5%; }

body {
  color: #363129;
  font-size: 1.4rem;
  font-family: "游ゴシック", YuGothic, "メイリオ", Verdana, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  line-height: 1.6;
  letter-spacing: 0.1em;
  background-color: #fdfcf6; }

a {
  color: #FF2E31;
  text-decoration: none; }
  a:visited {
    color: #fa0004; }
  a:hover {
    color: #fa0004; }
  a:active {
    color: #ff484a; }

/* Align
------------------------------------------------------------*/
.text-center {
  text-align: center; }

/* Layout
------------------------------------------------------------*/
.block-center {
  display: block;
  margin-left: auto;
  margin-right: auto; }

/* Font
------------------------------------------------------------*/
.abel {
  font-family: 'Abel', sans-serif; }

.uppercase {
  text-transform: uppercase; }

/* header
------------------------------------------------------------*/
header {
  margin-bottom: 50px; }

#header-img {
  background-image: url("../img/main.jpg");
  height: 250px;
  width: 100%;
  background-size: cover;
  background-position: center center; }

h1 {
  padding-top: 80px;
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  line-height: 3.5rem; }

/* main
------------------------------------------------------------*/
.title-p {
  font-size: 2rem;
  font-weight: bold;
  text-align: center; }

section {
  padding: 60px 0;
  background-color: #FFD630;
  margin-top: 50px; }

.container {
  width: 90%;
  display: -webkit-flex;
  display: flex;
  margin: auto;
  justify-content: space-between; }

h2 {
  color: #FF2E31;
  background-color: #fdfcf6 darken, 20%;
  font-size: 2.4rem;
  font-weight: bold;
  border: 1px;
  border-radius: 5px;
  text-align: center; }

.box {
  -webkit-flex: 1;
  flex: 1;
  margin: 10px 0;
  padding: 20px;
  background-color: #fdfcf6;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* footer
------------------------------------------------------------*/
footer {
  background-color: #FFD630;
  padding: 30px;
  margin-top: 50px;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  line-height: auto; }

.mail-button {
  width: 100px;
  height: 20px;
  padding: 10px;
  border: 2px solid #FF2E31;
  color: #FF2E31;
  background-color: #fdfcf6;
  text-align: center;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  font-size: 20px;
  line-height: 0; }
  .mail-button:visited {
    color: #FF2E31 darken, 20%; }

@media (min-width: 769px) {
  /* Base
------------------------------------------------------------*/
  a:hover {
    text-decoration: underline; }

  #header-img {
    height: 500px; }

  h1 {
    padding-top: 200px;
    font-size: 4rem; }

  /* main
  ------------------------------------------------------------*/
  .box {
    margin: 0 10px; }

  /* footer
  ------------------------------------------------------------*/
  .mail-button:hover, .mail-button:active {
    background-color: #fdfcf6;
    color: #FF2E31; } }

/*# sourceMappingURL=style.css.map */
